---
import Baselayout from '../../layouts/Base.astro'
import Paginator from '../../components/Paginator.astro'

export async function getStaticPaths({ paginate }) {
	const posts = (await Astro.glob('./*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
	// Generate pages from our array of astronauts, with 2 to a page
	return paginate(posts, { pageSize: 2 });
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Baselayout>
    <div class="posts">
        {page.data.map((post) => (
            <article>
                <h1>{post.frontmatter.title}</h1>
                <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                    })}
                </time>
                <p>{post.frontmatter.description}</p>
                <a href={post.url}>Read more</a>
            </article>
        ))}
    </div>
    {(page.url.next || page.url.prev) && <Paginator page={page}/>}
    
    
</Baselayout>