---
import Baselayout from '../../../layouts/Base.astro'
import PostsList from '../../../components/PostsList.vue'
import TagsList from '../../../components/TagsList.astro'
import {getTagData} from '../../../utils/helpers.js'
import Config from '../../../config'


export async function getStaticPaths() {
	const posts = (await Astro.glob('../../posts/*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
    
    const tags = new Set();
    posts.map(post => {
        post.frontmatter.tags && post.frontmatter.tags.map(tag => { 
            tags.add(tag)
        })
    })

    const uniqueTags = getTagData(tags);

	return uniqueTags.map((tag) => {
        // filter the posts that match the given tag
        const tagPosts = posts.filter((post) => post.frontmatter.tags.includes(tag.name))

        return {
			params: { 
                tag: tag.slug 
            },
			props: {
                posts: tagPosts
            }
		};
    });
}

const title = Config.siteTitle + ' - Blog'
const description = Config.siteDescription

const { posts } = Astro.props
const { tag } = Astro.params

---

<Baselayout title={title} description={description}>
    <h1 class="title mb-4 text-accent">{tag}</h1>
    <PostsList posts={posts} client:only="vue" >
      <TagsList links={true}/>
    </PostsList>
</Baselayout>