---
import PostTagsList from './PostTagsList.astro';
const { posts } = Astro.props;
---
<div class="my-10">
    {posts.map((post) => (
        <div class="flex flex-col mb-8">
            <h2 class="mb-4 text-xl title">
                <a href={post.url}>
                    {post.frontmatter.title}
                </a>
            </h2>

            <div class="flex gap-4">
                <time
                class="text-gray-500"
                datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                    })}
                </time>
                <PostTagsList tagList={post.frontmatter.tags} />
            </div>
        
            <p class="my-2">{post.frontmatter.description}</p>
            <h2>
                <a class="text-accent" href={post.url}>Read more</a>
            </h2>
        </div>
    ))}
</div>