---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {generateCategoryData} from '../utils/helpers.js'

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		categories?: string;
	};
}

const {content} = Astro.props;
const allCategoriesData = content.categories && generateCategoryData(content.categories);
---

<html lang="en">
	<head>
		<BaseHead title={content.title} description={content.description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<ul>
					{allCategoriesData && allCategoriesData.map(category => (
						<li><a href={`/category/${category.slug}`}>{category.name}</a></li>
						))}
				</ul>
				{content.heroImage && (
					<img
						width={720}
						height={360}
						src={content.heroImage}
						alt=""
					/>
				)}
				<h1 class="title">{content.title}</h1>
				{content.pubDate && <time>{content.pubDate}</time>}
				{content.updatedDate && <div>Last updated on <time>{content.updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
