---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostTagsList from '../components/PostTagsList.astro';
import PostContent from "../components/PostContent.svelte";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tags?: string;
	};
}

const {content, headings} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={content.title} description={content.description} />
	</head>
	<body>
		<Header />
			<PostContent {content} {headings} client:load>
				<PostTagsList tagList={content.tags} slot="tags-list" />
				<slot slot="content"/>
			</PostContent>
		<Footer />
	</body>
</html>
