---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostTagsList from '../components/PostTagsList.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tags?: string;
        repoUrl?: string;
		demoUrl?: string;
	};
}

const {content, headings} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={content.title} description={content.description} />
	</head>

	<body>
		<Header />
		<main class="sm:grid sm:grid-cols-[1fr] sm:gap-x-10 sm:items-start">
			<article>
				{content.heroImage && (
					<img
						width={720}
						height={360}
						src={content.heroImage}
                        class="rounded-lg"
						alt=""
					/>
				)}
				<h1 class="title my-4">{content.title}</h1>
				<PostTagsList tagList={content.tags} label="using:" />
				<hr/>
				<div class="mt-5 prose-sm prose-cactus prose-headings:font-semibold prose-headings:before:content-['#'] prose-headings:before:text-accent prose-headings:before:absolute prose-headings:before:-ml-4 prose-th:before:content-none">
					<slot />
				</div>
                <ul class="flex flex-wrap gap-2 text-bgColor mt-2">
					<li class="flex items-center justify-center px-1 rounded-sm bg-accent font-bold">
						{content.repoUrl && <a href={content.repoUrl} target="_blank">GitHub Repo</a>}
					</li>
                    <li class="flex items-center justify-center px-1 rounded-sm bg-accent font-bold">
						{content.demoUrl && <a href={content.demoUrl} target="_blank">DEMO</a>}
					</li>
                </ul>
			</article>
		</main>
		<Footer />
	</body>
</html>
